.custom-pagination .pagination {
    float: right;
    margin: 0;
}

.custom-pagination {
    float: right;
    margin-right: 20px;
}

.custom-pagination .pagination a {
    font-size: 12px;
    padding: 3px 10px;
}

.custom-pagination .pagination a {
    background: linear-gradient(#FFF,#ddd);
    color: #333;
    border: 1px solid #969696;
}

.custom-pagination .pagination .active a {
    background: linear-gradient(#949292,#ffffff );
    color: #000;
     border: 1px solid #808080;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: linear-gradient(#ffffff,#949292 ) !important;
    color: #000;
    border: 1px solid #808080;
    cursor: pointer;
}