<div class="panel panel-default table-panel">
    <header class="panel-heading font-bold" id="engineidle-title">Speed Report <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>  Engine Idle Report </header>
    <div class="panel-body">
        <div class="custom-filters" id="engineidle-custom-filters">
            <div class="filter-field">
                <label>Vehicle</label>
                <input type="text" id="engineidle-asset" class="assets" placeholder="" />
            </div>
            <div class="filter-field">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                    <input type="text" class="form-control daterange" id="engineidle-date-range">
                </div>
            </div>
            @*<div class="filter-field">
                <label>Idle speed more than (Min)</label>
                <input type="text" id="idlespeedmorethanminute" class="" placeholder="" style="width:50px" />
            </div>*@
            <div class="filter-field button">
                <button id="engineidle-apply_filters" class="apply-filters btn btn-primary btn-sm" type="button">Apply Filters </button>
            </div>
            </div><!-- Custom Filters -->

        <div class="report-table" id="engineidle-table">
            <table id="engineidle-report" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Vehicle</th>
                        <th>Tracker Id</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Idle Start Time</th>
                        <th>ldle End Time</th>
                        
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
<script>

    $("#engineidle-apply_filters").click(function () {
        debugger;

        var assetname = $("#engineidle-asset").val();
        var daterange = $("#engineidle-date-range").val();
        var splitdate = daterange.split("-");
        var startdate = splitdate[0];
        var enddate = splitdate[1];
        //var idlespeedmorethanminute = $("#idlespeedmorethanminute").val();
        var reportexporttitle = $("#engineidle-title").text();
        var exportfilename = $("#engineidle-title").text();
        var frcmodel = {
            ReportFilter: "EngineIdleReport",
            startDate: startdate,
            endDate: enddate,
            Device: assetname,
            //Idlespeedmorethan: idlespeedmorethanminute
        }

        var table = $('#engineidle-report').DataTable({
            "dom": '<"top"Bfr>t<"dt-bottom"<"dt-information"li><"dt-pagination"p>>',
            lengthChange: true,
            ordering: true,
            destroy: true,

            buttons: [
                    {
                        extend: 'excel',
                        filename: exportfilename,
                        title: reportexporttitle,
                        exportOptions: {
                            columns: ':visible',
                            rows: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        filename: exportfilename,
                        title: reportexporttitle,
                        //orientation: 'landscape',
                        //pageSize: 'A3',
                        exportOptions: {
                            columns: ':visible',
                            rows: ':visible'
                        },
                        customize: function (doc) {
                            doc.defaultStyle.alignment = 'center';
                            doc.content[1].table.widths =
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                        }
                    }
            ],
            "ajax": {
                'type': 'POST',
                'url': window.location.origin + "/swi/Fleet/Get_SpeedReports",
                'data': frcmodel,
                'dataSrc': ''
            },
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            },
            {
                "className": "dt-center", "targets": "_all"
            }],
            "order": [[ 1, 'asc' ]],
            columns: [
               { data: 'id', defaultContent: '' },
               { data: 'AssetName', "name": "Vehicle" },
               { data: 'TrackerId', "name": "Tracker Id" },
               { data: 'Longitude', "name": "Longitude", "autoWidth": true },
               { data: 'Latitude', "name": "Latitude", "autoWidth": true },
               { data: 'IdleStartTime', "name": "Idle start time", "autoWidth": true },
               { data: 'IdleEndTime', "name": "Idle end time", "autoWidth": true }
            ],
            initComplete: function (settings, json) {
                $("#engineidle-custom-filters .top").remove();
                $($("#engineidle-table .top")).appendTo("#engineidle-custom-filters");
            }


        });
        createIndex(table);

    });
</script>





