<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
 
  <connectionStrings>
    <add name="AirViewConnectionString" connectionString="Data Source=192.168.3.73;Initial Catalog=AirViewX1_DEV;User ID=dev;Password=Sublime123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ServerIP" value="192.168.3.150"/>
    <add key="PortNumber" value="587"/>
    <add key="FilePath" value="D:\TFS\ServiceCommunicationLog.txt"/>
    <add key="ExceptionLogPath" value="D:\TFS\ServiceExceptionLog"/>
    <add key ="TrackerID" value="64507032770165,36343530373332,31323334353637,37363534333231"/>
    <add key ="TrackerIMEI" value=""/>
    <add key ="TrackOnDemandPktTimeSpan" value="10000"/>
    <add key ="SignalRApi" value="http://localhost:18459/swi"/>
    <add key ="SinocastelGpsPackageInterval" value="30"/>  <!--  Time in Seconds-->
    <add key ="TrackerListUpdateInterval" value="3600"/>     <!--  Time in Seconds In-Memory list updated from DataBase-->
    <add key ="TrackerListUpdate" value="true"/>           <!-- flag used to validate device id from database if not available in list  -->
    <add key ="WriteLogFile" value="true"/>
    <add key ="WriteExceptionLog" value="true"/>
    <add key ="TrackerTimeOut" value="1440" />
    <add key ="IdleTime" value="1" />  <!--  Time in Minutes-->
  </appSettings>

</configuration>
