
@media print and (color) {

    * {
        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact;
        -o-print-color-adjust: exact;
        -ms-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

@page {
    /* size: 7in 9.25in;*/
    /*size: 794px 1122pixels;*/
    size: A4 landscape;
    /*margin: 1mm 2mm 2mm 2mm;*/
    margin: 0mm 1mm 0mm 1mm;
    border: dotted 1px;
}

@media print {
    .page {
        width: initial;
        min-height: initial;
        page-break-after: always;
        height: 840px;
        width: 100%;
        position: relative;
    }
}

.page {
    width: initial;
    min-height: initial;
    page-break-after: always;
    height: 1100px;
    position: relative;
    /*width: 100%;*/
}

body{
    font-family:Arial;
}
.HeadingColor {
    color: #3b39e2;
    font-weight:bold;
}

.TitlePage {
      height: 800px;
    background: #4167A7;
    position: relative;
    border-radius: 100px 0px 0px;
    color: white;
}

    .TitlePage:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-top: 80px solid white;
        border-left: 80px solid  #4167A7;
        width: 0;
    }

.TitlePageHeading {
    font-size: 20mm;
    padding-left: 50px;
    /* text-align: center; */
    vertical-align: middle;
    line-height: 600px;
}

.footer {
    display: block;
    font-family: Arial;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}
.StationaryTable {
    text-align:center;
}
.StationaryTableTh{
    background-color:#0070C0;
    color:white;
}
.StationaryTableTh2{

    background-color:#375623;
    color:white;
}

.StationaryTableTd{
    background-color:#FFD966;
    color:black;
}
.StationaryTableTd2{

    background-color:#D9D9D9;
    color:black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.Note {
    color: #004B99;
    /*font-size: large;*/
    padding-top: 10px;
}

    .Note span {
        /*font-weight: bold;*/
        padding-right: 10px;
    }

.SummaryTable {
    width: 80%;
}

    .SummaryTable th {
        background-color: #37a6de;
    }

    .SummaryTable td {
        background-color: #a4e0fb;
    }


.customBox {
    margin-top: 7px;
    position: absolute;
    font-weight: bold;
    color: #201eea;
    font-size: small;
    background-color: #fdfffe;
    opacity: 0.7;
}

.colorBox {
    height: 22px;
    width: 22px;
    color: white;
    /*border: solid 1px;
    border-color: black;
    margin-bottom: -7px;*/
}

.PciLegend {
    position: absolute;
    bottom: 100px;
    background-color: white;
    border: solid 2px;
    width: 170px;
    right: 36px;
}

.SiteOverview th {
    color: #E20074;
    text-align: left;
    font-weight:bold;
}

.pciText {
    margin-top: 7px;
    position: absolute;
    font-weight: bold;
    color: #ffffff;
    font-size: x-small;
    background-color: #000000;
    opacity: 1;
}

.PciLegend {
    position: absolute;
    bottom: 100px;
    background-color: white;
    border: solid 2px;
    width: 170px;
    right: 36px;
}

.lagendHeader {
    text-align: center;
    background-color: #056d7d;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.settingHeading {
    background-color: #004B99;
    margin-bottom: 10px;
    text-align: center;
    height: 24px;
    font-weight: bold;
    padding-top: 3px;
}
.settingFooter{
    background-color: #004B99;margin-top: 10px;text-align: center;height: 24px;padding-top:3px;
}

        .heading {
            color: #3b39e2;
            text-align: center;
        }