@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/BusinessIntelligence/Views/Shared/_Layout.cshtml";
    
}

<div ng-include="'dsrpt/DashboardNReport/getPartialPage/DashboardAndReport/design-dashboard-and-report.cshtml'"></div>

<script src="~/Theme/AirViewX/assets/js/jquery.min.js"></script>
<script>
    var userIDByX1 = JSON.parse(@ViewBag.UserId)
  
</script>