<div class="more-links">
    @*<img src="images/sub-logo.png" alt="" />
        <ul>
            <li><a class="color1" href="#" title=""><img src="images/icon1.png" alt="" /></a></li>
            <li><a class="color2" href="#" title=""><img src="images/icon2.png" alt="" /></a></li>
            <li>
                <a class="color3 opt-btn" href="#" title=""><img src="images/icon3.png" alt="" /></a>
                <ul class="opt-dropdown">
                    <li><a class="header-converter" href="#" title="">Sidemenu /  Topmenu</a></li>
                    <li>
                        <a href="#" title="">Change Theme</a>
                        <ul class="themes-list">
                            <li><a data-theme="theme1" class="active" href="#" title="">Theme 1</a></li>
                            <li><a data-theme="theme2" href="#" title="">Theme 2</a></li>
                            <li><a data-theme="theme3" href="#" title="">Theme 3</a></li>
                            <li><a data-theme="theme4" href="#" title="">Theme 4 </a></li>
                            <li><a data-theme="theme5" href="#" title="">Theme 5</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a class="color4" href="#" title=""><img src="images/icon4.png" alt="" /></a></li>

        </ul>*@
</div>

<div class="profile-pic">
    <a class="opt-btn" href="#" title=""><img src="@ViewBag.picture" alt="" /> <span>@ViewBag.Name</span></a>
    <ul class="opt-dropdown">
        <li>
            <a href="@Url.Action("Details", "User", new { Id = ViewBag.UserId,area="" })"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
        </li>
        <li>
            <a href="@Url.Action("Logout", "Login",new {area="" })" data-action="userLogout"><i class="fa fa-sign-out-alt"></i> <strong><u>L</u>ogout</strong></a>
        </li>
    </ul>
</div>


